<mat-chip color="primary" selected>
  <a [routerLink]="['/geomarks',geomarkId]" matTooltip="View Geomark Info">{{geomarkId}}</a>
  <a [routerLink]="['/geomarks',geomarkId]" mat-icon-button matTooltip="View Geomark Info" class="gci" mat-icon-button>
    <app-fa-icon name="info"></app-fa-icon>
  </a>
  <a [href]="kmlUrl" mat-icon-button matTooltip="Open in Google Earth" class="gci" mat-icon-button>
    <app-fa-icon name="globe-americas"></app-fa-icon>
  </a>
  <app-copy-clipboard [text]="geomarkUrl(geomarkId)" width="24px">
  </app-copy-clipboard>
</mat-chip>