<div [formGroup]="formGroup">

  <div class="form-row">
    <mat-form-field floatLabel="always" appearance="outline" style="width:100%">
      <mat-label>Buffer Width (Mitres)</mat-label>
      <input matInput type="number" formControlName="bufferMetres" min="1">
      <app-help-button [url]="glossaryUrl('bufferMetres')" matSuffix></app-help-button>
    </mat-form-field>
  </div>


  <div class="form-row">
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Buffer segments</mat-label>
      <input matInput type="number" formControlName="bufferSegments" min="1" max="20" required>
      <app-help-button [url]="glossaryUrl('bufferMitreLimit')" matSuffix></app-help-button>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Mitre Limit (Ratio)</mat-label>
      <input matInput type="number" formControlName="bufferMitreLimit" min="1" max="20" required>
      <app-help-button [url]="glossaryUrl('bufferMitreLimit')" matSuffix></app-help-button>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>End-cap Style</mat-label>
      <mat-select formControlName="bufferCap" required>
        <mat-option value="ROUND"><img src="assets/images/end-cap-round.png"> Round</mat-option>
        <mat-option value="SQUARE"><img src="assets/images/end-cap-square.png"> Square</mat-option>
        <mat-option value="FLAT"><img src="assets/images/end-cap-flat.png"> Flat</mat-option>
      </mat-select>
      <app-help-button [url]="glossaryUrl('bufferCap')" matSuffix></app-help-button>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>End-cap Style</mat-label>
      <mat-select formControlName="bufferJoin" required>
        <mat-option value="ROUND"><img src="assets/images/join-round.png"> Round</mat-option>
        <mat-option value="MITRE"><img src="assets/images/join-mitre.png"> Mitre</mat-option>
        <mat-option value="BEVEL"><img src="assets/images/join-bevel.png"> Bevel</mat-option>
      </mat-select>
      <app-help-button [url]="glossaryUrl('bufferJoin')" matSuffix></app-help-button>
    </mat-form-field>
  </div>

</div>