<div class="mat-tab-content">
  <span>
    <app-copy-clipboard buttonLabel="Click to Copy Geomark URL" [text]="geomarkUrl(geomark.id)">
    </app-copy-clipboard> then save the link to access this geomark in the future.
  </span>
  <ul>
    <li class="active">You can access this geomark in the <a href="#formats">formats and coordinate systems</a>
      of your choice.
    </li>
    <li>This geomark can be shared with anyone on the web by simply sending them the saved link.</li>
    <li>The list of all geomarks is kept secret. Sharing is up to you.</li>
    <li>Geomarks are tamper-proof. They can't be changed once created.</li>
  </ul>

  <div class="form-row">
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>ID</mat-label>
      <input type="text" [value]="geomark.id" readonly matInput />

      <app-help-button [url]="glossaryUrl('geomarkId')" matSuffix></app-help-button>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Creation Date</mat-label>
      <input type="text" [value]="geomark.createDate" readonly matInput />

      <app-help-button [url]="glossaryUrl('creationDate')" matSuffix></app-help-button>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="outline"
      matTooltip="This geomark is registered with a BC Government application and will be kept as long as it remains registered.">
      <mat-label>Expiry Date</mat-label>
      <input type="text" [value]="expiryDate" readonly matInput />

      <app-help-button [url]="glossaryUrl('expiryDate')" matSuffix></app-help-button>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Bounding Box (W,S,E,N)</mat-label>
      <input type="text" [value]="boundingBox" readonly matInput />

      <app-help-button [url]="glossaryUrl('boundingBox')" matSuffix></app-help-button>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Centroid (lat,lon)</mat-label>
      <input type="text" [value]="centroid" readonly matInput />

      <app-help-button [url]="glossaryUrl('centroid')" matSuffix></app-help-button>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Geometry Type</mat-label>
      <input type="text" [value]="geomark.geometryType" readonly matInput />

      <app-help-button [url]="glossaryUrl('geometryType')" matSuffix></app-help-button>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Geometry Count</mat-label>
      <input type="text" [value]="geomark.numParts" readonly matInput />

      <app-help-button [url]="glossaryUrl('geometryCount')" matSuffix></app-help-button>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Vertex Count</mat-label>
      <input type="text" [value]="geomark.numVertices" readonly matInput />

      <app-help-button [url]="glossaryUrl('numVertices')" matSuffix></app-help-button>
    </mat-form-field>

  </div>

  <div class="form-row">
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Length</mat-label>
      <input type="text" [value]="length" readonly matInput />

      <app-help-button [url]="glossaryUrl('length')" matSuffix></app-help-button>
    </mat-form-field>

    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Area</mat-label>
      <input type="text" [value]="area" readonly matInput />

      <app-help-button [url]="glossaryUrl('area')" matSuffix></app-help-button>
    </mat-form-field>


    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Minimum Clearance</mat-label>
      <input type="text" [value]="minimumClearance" readonly matInput />

      <app-help-button [url]="glossaryUrl('minimumClearance')" matSuffix></app-help-button>
    </mat-form-field>

  </div>

  <div class="form-row" *ngIf="geomark.validationError">
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label>Validation Error</mat-label>

      <input type="text" [value]="geomark.validationError" readonly matInput />

      <app-help-button [url]="glossaryUrl('isValid')" matSuffix></app-help-button>
    </mat-form-field>

  </div>
  <mat-chip-list>
    <mat-chip [style.background-color]="geomark.isValid ? 'green' : 'red'" selected color="primary">
      <app-fa-icon *ngIf="geomark.isValid" name="check" matPrefix></app-fa-icon>
      <app-fa-icon *ngIf="!geomark.isValid" name="times" matPrefix></app-fa-icon>
      &nbsp;&nbsp;Valid
      <app-help-button [url]="glossaryUrl('isValid')"></app-help-button>
    </mat-chip>

    <mat-chip [style.background-color]="geomark.isSimple ? 'green' : 'red'" selected color="primary">
      <app-fa-icon *ngIf="geomark.isSimple" name="check" matPrefix></app-fa-icon>
      <app-fa-icon *ngIf="!geomark.isSimple" name="times" matPrefix></app-fa-icon>
      &nbsp;&nbsp;Simple
      <app-help-button [url]="glossaryUrl('isSimple')"></app-help-button>
    </mat-chip>

    <mat-chip [style.background-color]="geomark.isRobust ? 'green' : 'red'" selected color="primary">
      <app-fa-icon *ngIf="geomark.isRobust" name="check" matPrefix></app-fa-icon>
      <app-fa-icon *ngIf="!geomark.isRobust" name="times" matPrefix></app-fa-icon>
      &nbsp;&nbsp;Robust
      <app-help-button [url]="glossaryUrl('isRobust')"></app-help-button>
    </mat-chip>
  </mat-chip-list>
</div>