.page-template {
  font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f1f1f1;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-content .container {
  display: flex;
  flex-direction: column;
}


@media (max-width :819px) {
  .container {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width :820px) {
  .container {
    width: 750px;
  }

}

@media (min-width :1020px) {
  .container {
    width: 970px;
  }
}

@media (min-width :1220px) {
  .container {
    width: 1170px;
  }
}

header {
  margin-bottom: 5px;
  box-shadow: 0 3px 3px 1px rgba(51, 51, 51, .5);
  flex-shrink: 0;
}

.header-title {
  flex: 1 1 auto;
  align-self: stretch;
  margin: auto 0px auto 0px;
}

.header-title a {
  text-decoration: none;
  color: white;
  margin: 0px;
  font-size: 45px;
}

.logo {
  margin-right: 10px;
}

.logo-large {
  display: none;
}

.page-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: stretch;
}

.page-content>div {
  background-color: white;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.page-content .container {
  padding-top: 5px;
  padding-bottom: 10px;
}

.fullHeightScroll {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: auto;
}

footer {
  font-size: 14px;
  border-top: 2px solid #fcba19;
  flex-shrink: 0;
  background-color: #003366;
  color: white;
}

footer .menu-bar {
  margin: 6px;
}

header .menu-bar a {
  color: white;
  padding: 1px 6px;
  text-decoration: none;
  display: inline-block;
}

footer .menu-bar a {
  color: white;
  padding: 1px 6px;
  text-decoration: none;
  border-right: 1px solid white;
  display: inline-block;
}

footer .menu-bar a:last-child {
  border-right-width: 0px;
}

footer .container {
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

div.version {
  text-align: right;
  flex: 1 1 auto;
  margin: auto 10px auto auto;
  margin-bottom: auto;
  font-size: 0.8em;
}

.titlebar {
  background-color: #003366;
  padding: 10px;
}

.titlebar .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

header {
  color: white;
}

header .titlebar {
  border-bottom: 2px solid #fcba19;
}

.fill-width {
  display: none;
}


.menu-bar {
  display: none;
}


@media (min-width: 550px) {
  .menu-bar {
    display: block;
  }

  .menu-button {
    display: none;
  }
}

@media (min-width: 769px) {
  .fill-width {
    display: initial;
    flex-grow: 1;
    height: 0px;
  }

  .logo-small {
    display: none;
  }

  .logo-large {
    display: inline;
  }

  .titlebar {
    padding: 10px 20px 10px 20px;
  }

}

@media print {

  footer,
  header {
    display: none;
  }

  .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .fullHeightScroll {
    flex: 0 0 auto;
    flex-direction: column;
    overflow-y: visible;
  }
}
