:host {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  flex: 1 1 auto;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
  border: 1px solid rgba(0, 0, 0, .12);
  border-top-width: 0px;
}
