<div [formGroup]="formGroup" class="form-row" [style.flex-direction]="flexDirection" *ngIf="!loading">
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>File format</mat-label>
    <mat-select formControlName="format" required>
      <mat-option *ngFor="let format of fileFormats" [value]="format">{{format.description}}
      </mat-option>
    </mat-select>

    <app-help-button [url]="docsUrl('fileFormats.html')" matSuffix></app-help-button>
    <mat-hint *ngIf="formGroup.value.format?.hint">{{formGroup.value.format.hint}}</mat-hint>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>Coordinate system</mat-label>
    <mat-select formControlName="srid" required>
      <mat-option *ngFor="let coordinateSystemId of coordinateSystemIds" [value]="coordinateSystemId">
        {{config.coordinateSystemById[coordinateSystemId]}}
      </mat-option>
    </mat-select>
    <app-help-button [url]="docsUrl('coordinateSystems.html')" matSuffix></app-help-button>
  </mat-form-field>
</div>