<div [formGroup]="formGroup" class="form-row">
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>Geometry type</mat-label>
    <mat-select formControlName="geometryType" required>
      <mat-option value="Polygon">Polygon</mat-option>
      <mat-option value="LineString">LineString</mat-option>
      <mat-option value="Point">Point</mat-option>
      <mat-option value="Any">Any (Polygon, Line and Point)</mat-option>
    </mat-select>

    <app-help-button [url]="glossaryUrl('geometryType')" matSuffix></app-help-button>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>Geometry count</mat-label>
    <mat-select formControlName="multiple" required>
      <mat-option value="false">One</mat-option>
      <mat-option value="true">Many</mat-option>
    </mat-select>
    <app-help-button [url]="glossaryUrl('geometryCount')" matSuffix></app-help-button>
  </mat-form-field>

  <div class="mat-checkbox-field">
    <div class="mat-checkbox-field-label"><label>Allow Overlap</label></div>
    <div class="mat-checkbox-field-row">
      <mat-checkbox formControlName="allowOverlap">&nbsp;</mat-checkbox>
      <app-help-button [url]="glossaryUrl('allowOverlap')" class="mat-checkbox-field-suffix"></app-help-button>
    </div>
  </div>

</div>