body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

div.title {
  font-size: 1.1em;
  font-weight: bold;
}

div.javaPackage {
  margin-bottom: 1em;
}

div.javaPackage>div.title {
  font-size: 1.4em;
}

div.javaClass {
  margin-bottom: 1em;
}

div.javaClass>div.title {
  font-size: 1.2em;
}

div.javaClass>div.content {
}

div.javaMethod {
  margin-bottom: 1em;
}

div.javaMethod>div.content>div.title {
  font-size: 1em;
  font-style: italic;
  margin-top: 0.5em;
}

div.title code {
  font-size: 1em;
  font-weight: normal;
}

div.javaMethod>div.content {
  
}

div.simpleDataTable>div div.fg-toolbar {
  padding: 0px;
  border: 0px;
}

div.simpleDataTable>div>table {
  border: 1px solid #aed0ea;
  border-collapse: inherit;
  border-spacing: 0px;
  padding: 0px;
  border-radius: 6px;
  margin-left: 0px;
  width: auto;
}

div.simpleDataTable>div>table.data>thead>tr:first-child>th {
  border-top-width: 0px;
}

div.simpleDataTable>div>table.data>thead>tr:first-child>th {
  border-left-width: 0px;
}

div.simpleDataTable>div>table.data>thead>tr:first-child>:first-child {
  border-top-left-radius: 6px;
}

div.simpleDataTable>div>table.data>thead>tr:first-child>:last-child {
  border-top-right-radius: 6px;
  border-right-width: 0px;
}

div.simpleDataTable>div>table.data>tbody>tr:last-child>:first-child {
  border-bottom-left-radius: 6px;
}

div.simpleDataTable>div>table.data>tbody>tr:last-child>:last-child {
  border-bottom-right-radius: 6px;
}

table.dataTable>tbody {
  border-left: 1px solid #aed0ea;
  border-right: 1px solid #aed0ea;
}

table.dataTable>tbody>tr.odd {
  background-color: #eeeeee;
}

table.dataTable thead th,table.dataTable tbody td {
  padding: 0.2em 0.4em 0.2em 0.4em;
}

table.dataTable tbody td {
  border-right: 1px solid #dddddd;
}

table td p:first-child {
  margin-top: 2px;
}

table td p:last-child {
  margin-bottom: 2px;
}

div.ui-accordion {
  margin-bottom: 1em;
}

div.ui-accordion div.section {
  margin: 2px 0px 0px 0px;
  border-top: 2px solid #6699CC;
  padding: 2px 5px 0px 5px;
}

div.ui-accordion>div.ui-accordion-content {
  padding: 0.3em;
}

div.ui-accordion>div.ui-accordion-content>div.objectList {
  border-width: 0px;
}

div.ui-accordion>div.ui-accordion-content>div.objectList>table.data {
  border-width: 0px;
  padding: 0px;
}

div.ui-accordion>div.ui-accordion-content>div.objectView>table.data {
  border-width: 1px;
  padding: 0px;
}

div.ui-accordion>div.ui-accordion-content>iframe {
  margin: 0px;
  width: 100%;
  border: 0px;
  padding: 0px;
  height: 0%;
}

div.javaMethod table tbody td.name,
div.javaMethod table tbody td.type {
  font-family: monospace;
  white-space: pre;
}

pre.prettyprint {
  background-color: white;
}
