<div *ngIf="geomark">

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>Geomark: {{geomark.id}}</ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="geomark">
    <div class="form-row">
      <div class="mat-checkbox-field">
        <div class="mat-checkbox-field-label" style="margin-top:-12px"><label>Links</label></div>
        <div class="mat-checkbox-field-row">
          <a [routerLink]="['/geomarks',geomark.id]" mat-icon-button matTooltip="View Geomark Info" class="gci">
            <app-fa-icon name="info"></app-fa-icon>
          </a>
          <a [href]="kmlUrl(geomark.id)" mat-icon-button matTooltip="Open in Google Earth" class="gci">
            <app-fa-icon name="globe-americas"></app-fa-icon>
          </a>
          <app-copy-clipboard [text]="geomarkUrl(geomark.id)" class="gci">
          </app-copy-clipboard>

        </div>
      </div>
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Creation Date</mat-label>
        <input type="text" [value]="geomark.createDate" readonly matInput />
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline"
        matTooltip="This geomark is registered with a BC Government application and will be kept as long as it remains registered.">
        <mat-label>Expiry Date</mat-label>
        <input type="text" [value]="expiryDate" readonly matInput />
      </mat-form-field>
    </div>

    <mat-toolbar>
      <mat-toolbar-row>
        <mat-form-field appearance="standard" class="groupSearch">
          <mat-label>Search geomark group to add</mat-label>
          <input type="text" matInput [formControl]="searchGeomarkGroupsControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayGeomarkGroup"
            (optionSelected)="geomarkGroupSelected($event)">
            <mat-option *ngFor="let group of searchGeomarkGroups" [value]="group">
              {{group.DESCRIPTION}} ({{group.GEOMARK_GROUP_ID}})
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
        <span class="toolbar-spacer"></span>
        <button (click)="refresh()" mat-icon-button matTooltip="Refresh">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <table mat-table [dataSource]="records" matSort matSortActive="DESCRIPTION" matSortDisableClear
      matSortDirection="asc">
      <ng-container matColumnDef="GEOMARK_GROUP_ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Group ID</th>
        <td mat-cell *matCellDef="let group">
          <a [routerLink]="['/secure/admin/geomarkGroups',group.GEOMARK_GROUP_ID]"
            matTooltip="View Group">{{group.GEOMARK_GROUP_ID}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="DESCRIPTION">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let group">{{group.DESCRIPTION}}</td>
      </ng-container>

      <ng-container matColumnDef="WHEN_CREATED">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation Date</th>
        <td mat-cell *matCellDef="let group">{{group.WHEN_CREATED | date: 'd-MMM-yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let group">
          <button (click)="removeFromGroup(group)" mat-icon-button matTooltip="Remove from Group">
            <app-fa-icon name="trash" style="color:red"></app-fa-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="resultCount" [pageSize]="pageSize"></mat-paginator>
  </div>

</div>

<app-page-not-found *ngIf="!geomark"></app-page-not-found>