body {
  min-height: 100%;
  padding: 0;
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-content {
  padding: 10px 5px;
  border: 1px solid rgba(0, 0, 0, .12);
  border-top-width: 0px;
}

.mat-checkbox-field {
  border-radius: 5px;
  border: 1px solid currentColor;
  border-color: rgba(0, 0, 0, .12);
  padding: 0.2em .75em 0.2em .75em;
  margin: 0.25em 0em 1.59375em 0em;
  height: 44px !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

@media (min-width: 710px) {
  .mat-dialog-panel-custom {
    max-width: 1000px !important;
    width: 80%;
  }
}

@media (max-width: 709px) {
  .mat-dialog-panel-custom {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
  }
}

.mat-checkbox-field-label {
  margin-top: -1.5em;
  margin-left: -0.5em;
  font-size: 0.75em;
  color: rgba(0, 0, 0, .6);
  background-color: white;
  padding: 0px 3px 0px 3px;
  overflow-x: hidden;
  width: fit-content;
}

.mat-checkbox-field-row {
  display: flex;
  flex-direction: row;
}

.mat-checkbox-field-row .mat-checkbox {
  display: inline-block;
  flex: 1 1 auto;
  margin-top: 8px;
}

mat-form-field.dragOver .mat-form-field-outline {
  background-color: lightgray;
  border-radius: 5px;
}

.mat-toolbar-row .mat-form-field {
  font-size: 14px;
}

.mat-checkbox-field-suffix {
  display: inline-block !important;
  margin-right: -3px;
}

.mat-checkbox-field-suffix .mat-icon {
  font-size: 150%;
}

.mat-tab-label {
  min-width: fit-content !important;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-left: -3px;
  margin-right: -3px;
}

.form-row .mat-form-field .mat-form-field-infix {
  width: 100%;
}

.form-row>* {
  margin-left: 3px;
  margin-right: 3px;
  flex: 1 1 auto;
}

@media (max-width :600px) {
  .form-row {
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;

  }

  .form-row>* {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.mat-tab-group.mat-tab-fill-height {
  display: flex;
  flex: 1 1 auto;
}

.mat-tab-group.mat-tab-fill-height .mat-tab-body-wrapper {
  display: flex;
  flex: 1 1 auto;
}

.mat-tab-group.mat-tab-fill-height .mat-tab-body-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.mat-tab-group.mat-tab-fill-height .mat-tab-content {
  flex: 1 1 auto;
}
