<div *ngIf="geomarkGroup">

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>Geomark Group: {{geomarkGroup.GEOMARK_GROUP_ID}}</ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="geomarkGroup">
    <div class="form-row">
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Description</mat-label>
        <input type="text" [value]="geomarkGroup.DESCRIPTION" readonly matInput />
      </mat-form-field>
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Creation Date</mat-label>
        <input type="text" [value]="geomarkGroup.WHEN_CREATED |date:'dd-MMM-yyyy'" readonly matInput />
      </mat-form-field>
    </div>

    <mat-toolbar>
      <mat-toolbar-row>
        <mat-form-field appearance="standard" class="groupSearch">
          <mat-label>Search geomark to add</mat-label>
          <input type="text" matInput [formControl]="searchGeomarksControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayGeomark"
            (optionSelected)="geomarkGroupSelected($event)">
            <mat-option *ngFor="let geomark of searchGeomarks" [value]="geomark">{{geomark.GEOMARK_ID}}</mat-option>
          </mat-autocomplete>

        </mat-form-field>
        <span class="toolbar-spacer"></span>
        <button (click)="refresh()" mat-icon-button matTooltip="Refresh">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <table mat-table [dataSource]="records" matSort matSortActive="GEOMARK_ID" matSortDisableClear
      matSortDirection="asc">
      <ng-container matColumnDef="GEOMARK_ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>View Geomark</th>
        <td mat-cell *matCellDef="let geomark">
          <span *ngIf="isExpired(geomark)">{{geomark.GEOMARK_ID}}</span>
          <span *ngIf="!isExpired(geomark)"><a [routerLink]="['..',geomark.GEOMARK_ID]" matTooltip="View Geomark"
              class="idLink">{{geomark.GEOMARK_ID}}</a>
            <a [routerLink]="['/geomarks',geomark.GEOMARK_ID]" mat-icon-button matTooltip="View Geomark Info"
              class="gci">
              <app-fa-icon name="info"></app-fa-icon>
            </a>
            <a [href]="kmlUrl(geomark.GEOMARK_ID)" mat-icon-button matTooltip="Open in Google Earth" class="gci">
              <app-fa-icon name="globe-americas"></app-fa-icon>
            </a>
            <app-copy-clipboard [text]="geomarkUrl(geomark.GEOMARK_ID)" class="gci">
            </app-copy-clipboard>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="WHEN_CREATED">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation Date</th>
        <td mat-cell *matCellDef="let geomark">{{geomark.WHEN_CREATED | date: 'd-MMM-yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="EXPIRY_DATE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry Date</th>
        <td mat-cell *matCellDef="let geomark">{{geomark.EXPIRY_DATE | date: 'd-MMM-yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let group">
          <button (click)="removeFromGroup(group)" mat-icon-button matTooltip="Remove from Group">
            <app-fa-icon name="trash" style="color:red"></app-fa-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="resultCount" [pageSize]="pageSize"></mat-paginator>
  </div>

</div>

<app-page-not-found *ngIf="!geomarkGroup"></app-page-not-found>