<div class="mat-tab-content">
  <form [formGroup]="form">
    <app-format-cs mode="output" [formGroup]="form" flexDirection="column"></app-format-cs>

    <div class="form-row">

      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Download Geometry Type</mat-label>
        <mat-select formControlName="type" required>
          <mat-option value="parts" *ngIf="geomark.numParts >1">{{geomark.numParts}}
            {{geomark.geometryType.replace('Multi','').replace('Collection','')}}s</mat-option>
          <mat-option value="feature">{{geomark.geometryType}}</mat-option>
          <mat-option value="point">Point inside first part</mat-option>
          <mat-option value="boundingBox">Polygon bounding rectangle</mat-option>
        </mat-select>
        <app-help-button [url]="glossaryUrl('downloadGeometryType')" matSuffix></app-help-button>
      </mat-form-field>
    </div>

    <a mat-raised-button color="primary" [href]="downloadUrl" download>Download <app-fa-icon name="download">
      </app-fa-icon></a>
  </form>
</div>