<div>
  <h2><span>
      <app-fa-icon name="copy"></app-fa-icon> Create from Geomarks
    </span></h2>
  <div>
    <p><b>General business example</b> - a small business forest company has created multiple geomark cutblocks using
      the Geomark Web Service and would like to submit them as a group in one submission to another party.</p>
    <p>This option allows the user to create one geomark from multiple original geomarks by pasting the multiple geomark
      URLs into the address block and then selecting 'Create Geomark'. The newly created geomark will be unique.</p>
    <p>Click <a [href]="config.properties.createFromGeomarkTutorialUrl">here</a>
      to access the tutorial.</p>
  </div>
  <form [formGroup]="form">

    <div class="form-row">
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Geomark URLs</mat-label>
        <input class="geomarkUrl" placeholder="Paste a Geomark URL and press enter" [matChipInputFor]="urlList"
          (matChipInputTokenEnd)="addUrl($event)" pattern="(https?://.*/)?gm-[\w-]+">
        <mat-chip-list #urlList ariaOrientation="vertical" required>
          <mat-chip *ngFor="let geomarkUrl of geomarkUrls" [removable]="true" (removed)="removeUrl(geomarkUrl)">
            {{geomarkUrl}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <app-help-button [url]="glossaryUrl('geometryUrl')" matSuffix></app-help-button>
      </mat-form-field>
    </div>

    <div class="form-row">
      <div class="mat-checkbox-field">
        <div class="mat-checkbox-field-label"><label>Allow Overlap</label></div>
        <div class="mat-checkbox-field-row">
          <mat-checkbox formControlName="allowOverlap">&nbsp;</mat-checkbox>
          <app-help-button [url]="glossaryUrl('allowOverlap')" class="mat-checkbox-field-suffix"></app-help-button>
        </div>
      </div>
    </div>

    <app-buffer-settings [formGroup]="form"></app-buffer-settings>

    <input name="failureRedirectUrl" type="hidden" value="/pub/geomark/geomarks#geomarks">

    <button mat-raised-button color="primary" [disabled]="form.invalid || saving" (click)="createGeomark()">Create
      Geomark</button>
  </form>
</div>