@font-face {
  font-family: 'Myriad-Web-Pro';
  src: url("../fonts/MyriadWebPro.ttf");
}

body {
  font-family: 'Myriad-Web-Pro', sans-serif;
  padding-top: 105px;
  padding-bottom:55px;
}

.header .navbar-default {
  border-bottom: 2px solid #fcba19;
}

.header .navbar-default .navbar-brand .navbar-brand-title {
  font-size: 45px;
}

.header .navbar-default .navbar-brand {
  padding: 22px 0px 22px 8px;
}

.header .navbar-default .navbar-brand a {
  padding-right: 15px;
}

.header .navbar-default .navbar-collapse {
  padding-top: 22px;
}

@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
  .header .navbar-default .navbar-brand {
    padding: 5px 0px 5px 8px;
  }
  .header .navbar-default .navbar-brand .navbar-brand-title {
    font-size: 1.5em;
  }
  .header .navbar-default .navbar-brand img {
    width: 50px;
  }
}

#footerMenu {
  border-width: 0px;
  border-top: 2px solid #fcba19;
  margin-bottom: 0px;
  border-radius: 0px;
}
footer div.version {
  margin-top: -1.5em;
  position: fixed;
  text-align: right;
}
