body {
  padding-top:70px;
  padding-bottom:70px;
}

@media (max-width:768px) {
  .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.navbar-default {
  background-color: #003366;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand a {
  color: white;
  text-decoration: none;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #eeeeee;
}

.navbar-default .navbar-brand {
  padding: 0px 0px 0px 5px;
  height: 100%;
  line-height: normal;
}

.navbar-default .navbar-brand > a {
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.navbar-default .navbar-brand .navbar-brand-title {
  font-size: 28px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #dddddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #888;
}

.tab-pane {
  width: 100%;
}

.panel-body .form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.tab-content > .tab-pane > .form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.form-horizontal > div.form-group:nth-child(odd) {
  background-color: #ecf0f1;
}

.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: 25px;
}


ol.breadcrumb {
  margin-bottom: 8px;
  padding: 5px 10px;
}
footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:60px;
}

footer div.version {
  bottom: 0;
  color: white;
  position: fixed;
  text-align: right;
  padding-right: 5px;
  width: 100%;
  z-index:1100;
}

div.btn-toolbar {
  padding: 0.5em;
}

div.form-group {
  margin-bottom: 2px;
}

div.panel-body {
  padding: 5px;
}

div.panel {
  margin-bottom: 5px;
}

.panel-collapsible .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-collapsible .panel-heading a.collapsed:after {
    content:"\e080";
}

div.header div.title, div.bodyContent>div.title {
  color: #003399;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1;
  font-size: 1.6em;
  margin-bottom: 0.5em;
  line-height: 1;
}

section {
  display: block;
}


th, td {
  vertical-align: top;
  word-wrap: break-word;
}

td p:first-child {
  margin-top: 0px;
}

td p:last-child {
  margin-bottom: 0px;
}

td.actions form {
  display: inline;
  margin-right: 5px;
}

div.body {
  margin: 0px;
}

div.columns_2_2 {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
}

div.columns_2_1 {
  clear: left;
  float: left;
  width: 100%;
  position: relative;
  right: 82%;
}

div.column_2_1 {
  float: left;
  width: 18%;
  position: relative;
  left: 82%;
  overflow: hidden;
}

div.column_2_2 {
  float: left;
  width: 82%;
  position: relative;
  left: 82%;
  overflow: hidden;
}

div.error {
  color: red;
  font-weight: bold;
}

label.error {
  display: block;
  color: red;
  font-weight: bold;
  color: red;
}

input.error {
  border-color: red;
}

div.invalid div.errorMessage {
  padding: 0.1em 0.2em 0.1em 0.2em;
}

div.bodyContainer {
  margin: 0px 10px 10px 0px;
}

div.bodyContent {
  margin: 0px;
}

div.header {
  background: #d7ebf9
    url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/cupertino/images/ui-bg_glass_80_d7ebf9_1x400.png)
    50% 50% repeat-x;
  border: 2px solid #aed0ea;
  border-radius: 0.5em;
  color: #0046a0;
  padding: 1em 1em 0.5em 1em;
  margin: 0.5em;
  color: #0046a0;
}

div.headerContent {
  
}

div.columns {
  float: left;
  padding-bottom: 1px;
  width: 100%;
}

div.breadcrumbs {
  
}

div.breadcrumb {
  padding: 1px 2px 1px 2px;
}

div.breadcrumb ul {
  font-size: 0.8em;
  list-style: none;
  margin: 0px;
  margin-bottom: 3px;
  padding: 0px;
}

div.breadcrumb ul li {
  display: inline;
  color: #999999;
  font-size: 0.9em;
}

div.breadcrumb ul li a {
  color: #999999;
  padding-right: 1.5em;
  background-image: url(../images/crumbs.gif);
  background-position: top right;
  background-repeat: no-repeat;
}

div.breadcrumb ul li a:hover {
  text-decoration: underline;
}

div.footer {
  clear: both;
  background: #d7ebf9
    url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/cupertino/images/ui-bg_glass_80_d7ebf9_1x400.png)
    50% 50% repeat-x;
  border: 2px solid #aed0ea;
  border-radius: 0.5em;
  color: #0046a0;
  padding: 0.4em 1em 0.4em 1em;
  font-size: 0.8em;
  margin: 0.5em;
  min-height: 1.1em;
}

div.footer div.title {
  float: left;
  font-weight: normal;
}

div.footer ul {
  text-align: right;
  margin: 0em;
  list-style: none outside none;
  padding: 0em;
}

div.footer ul li {
  display: inline;
}

div.footer a {
  color: #0046a0;
  padding: 0.3em;
  text-decoration: none;
}

input.submit {
  background-color: #a2c8ff;
  border: 2px outset #6699CC;
  color: black;
  font-weight: bold;
  margin-right: 3px;
  padding: 2px 3px 2px 3px;
  text-decoration: none;
  white-space: nowrap;
}

input.submit:hover {
  text-decoration: underline;
}

div.actionMenu {
  margin: 0px;
  padding: 0.4em 0px 0px 0px;
  clear: both;
}

div.actionMenu ul {
  margin: 0px;
  list-style: none outside none;
  padding: 0px;
}

div.actionMenu ul li {
  display: inline;
}

div.actionMenu ul li a {
  white-space: nowrap;
}

div.form>form>div>div.objectList {
  border-left-width: 0px;
  border-right-width: 0px;
}

div.form>form>div>div.objectList>table.data {
  border-left-width: 0px;
  border-right-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

div.table div.title {
  color: #039;
  font-family: sans-serif;
  line-height: 1;
  font-size: 1.6em;
  margin-bottom: 12px;
}

div.objectView {
  width: auto;
}

div.objectView>table.data {
  border: 1px solid #aed0ea;
  border-radius: 0.5em;
  border-spacing: 0px;
  margin: 0px;
  max-width: 100%;
}

div.objectView>table.data>tbody>tr:first-child>th:first-child {
  border-top-left-radius: 0.4em;
}

div.objectView>table.data>tbody>tr:first-child>td:last-child {
  border-top-right-radius: 0.4em;
}

div.objectView>table.data>tbody>tr:last-child>th:first-child {
  border-bottom-left-radius: 0.4em;
}

div.objectView>table.data>tbody>tr:last-child>td:last-child {
  border-bottom-right-radius: 0.4em;
}

div.objectView>table.data>tbody>tr>th {
  background-color: #d7ebf9;
  border-bottom: 1px solid white;
  padding: 0.3em 0.6em 0.3em 0.6em;
  text-align: right;
}

div.objectView>table.data>tbody>tr>td {
  border-bottom: 1px solid #cccccc;
  padding: 0.3em 0.6em 0.3em 0.6em;
}

div.objectView>table.data>tbody>tr:nth-of-type(even)>td {
  background-color: #eeeeee;
}

div.objectView>table.data>tbody>tr:last-child>th, div.objectView>table.data>tbody>tr:last-child>td
  {
  border-bottom-width: 0px;
}

input.submit {
  background-color: #a2c8ff;
  border: 2px outset #6699CC;
  color: black;
  font-weight: bold;
  margin-right: 3px;
  padding: 2px 3px 2px 3px;
  text-decoration: none;
  white-space: nowrap;
}

input.submit:hover {
  text-decoration: underline;
}

form dl dt {
  font-weight: bold;
}

form dl dd div.fieldDescription {
  font-size: 0.8em;
  color: #999999;
}

div.form {
  
}

div.form div.field {
  margin: 0px;
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100%;
  background-color: #a2c8ff;
}

div.form div.field div.label {
  width: 14em;
  height: 100%;
  float: left;
  font-weight: bold;
  text-align: left;
  margin: 0px;
  padding-left: 10px;
  border-top: 1px solid white;
  padding: 2px 4px 2px 4px;
  text-align: right;
  vertical-align: top;
}

div.form div:nth-of-type(1).field>div.label, div.form div:nth-of-type(1).field>div.contents
  {
  border-top-width: 0px;
}

div.form div.field div.contents {
  border-top: 1px solid #cccccc;
  margin-left: 14.8em;
  padding: 2px 4px 2px 4px;
  background-color: white;
}

div.form div:nth-of-type(even).field>div.contents {
  background-color: #eeeeee;
}

div.instructions {
  color: #999999;
}

div.invalid {
  background-color: pink;
}

div.errorContainer {
  border-radius: 0.5em;
  border: 2px solid red;
  background-color: pink;
  display: none;
  padding: 0.5em;
  margin: 0.5em 0em 0.5em 0em;
}

div.errorContainer div.title {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

div.form div.field div.instructions {
  clear: both;
  margin-left: 14.8em;
  padding: 2px 4px 2px 4px;
  background-color: white;
}

div.form div:nth-of-type(even).field>div.instructions {
  background-color: #eeeeee;
  color: #666666;
}

div.form div.field div.errors {
  clear: both;
  color: red;
  font-weight: bold;
  margin-left: 14.8em;
  padding: 2px 4px 2px 4px;
  background-color: white;
}

div.form div:nth-of-type(even).field>div.errors {
  background-color: #eeeeee;
}

div.form div.field div.fieldActions {
  margin-bottom: 7px;
}

div.form div.field div.fieldActions a {
  color: #666666;
  font-size: 10px;
}

div.form div.required {
  background: url(../images/asterisk.gif) no-repeat center right;
  padding-right: 10px;
}

.labelAboveNoPadding {
  font-weight: bold;
  padding-left: 1em;
  padding-top: 3px;
}

div.jqueryTabs>div>iframe {
  margin: 0px;
  width: 100%;
  border: 0px;
  padding: 0px;
  height: 0px;
}

div.autocomplete {
  border: 1px solid #808080;
  background-color: #FFFFFF;
  width: 15em;
}

div.autocomplete ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div.autocomplete ul li.selected {
  background-color: #ffb;
}

div.autocomplete ul li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 2px;
  cursor: pointer;
}

button.ui-button-icon-only {
  height: 1.8em;
  width: 1.8em;
}

.ui-button span.ui-button-text {
  line-height: 1.2em;
}

input.ui-button, .ui-button-text-only span.ui-button-text {
  line-height: 1.2em;
  padding: 0.2em 0.4em;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 1px 2px 1px 2px;
  vertical-align: middle;
}

div.dataTables_wrapper td {
  white-space: nowrap;
}

div.dataTables_wrapper td div, div.dataTables_wrapper td figure, div.dataTables_wrapper td ol,
  div.dataTables_wrapper td ul, div.dataTables_wrapper td p {
  white-space: normal;
}

div.simpleDataTable>div div.fg-toolbar {
  padding: 0px;
  border: 0px;
}

div.simpleDataTable>div>table {
  border-top: 1px solid black;
  border-collapse: inherit;
  border-spacing: 0px;
  padding: 0px;
  margin-left: 0px;
  width: auto;
}

div.simpleDataTable>div>table>thead>tr>th:first-child {
  border-left: 1px solid #ddd;
}

div.simpleDataTable>div>table>thead>tr>th {
  text-align: left;
  border-right: 1px solid #ddd;
}

div.ui-accordion {
  margin-bottom: 1em;
}

div.ui-accordion div.section {
  margin: 2px 0px 0px 0px;
  border-top: 2px solid #6699CC;
  padding: 2px 5px 0px 5px;
}

div.ui-accordion {
  padding: 0.3em;
  background-color: white;
}

div.ui-accordion>div.ui-accordion-content {
  padding: 0.3em;
  background-color: white;
}

div.ui-accordion>.ui-widget-content {
  background: white;
}

div.ui-accordion>div.ui-accordion-content>div.objectList {
  border-width: 0px;
}

div.ui-accordion>div.ui-accordion-content>div.objectList>table.data {
  border-width: 0px;
  padding: 0px;
}

div.ui-accordion>div.ui-accordion-content>div.objectView>table.data {
  border-width: 1px;
  padding: 0px;
}

div.ui-accordion>div.ui-accordion-content>iframe {
  margin: 0px;
  width: 100%;
  border: 0px;
  padding: 0px;
  height: 0%;
}

html.collapsibleBox {
  margin: 0px;
}

html.collapsibleBox>body {
  margin: 0px;
}

html.collapsibleBox>body>div.form {
  border-width: 0px;
}

html.collapsibleBox>body>div.form>form>div {
  border-width: 0px;
}

html.collapsibleBox>body>div.ui-accordion {
  border-width: 0px;
  margin: 0px;
}

html.collapsibleBox>body>div.ui-accordion>h3 {
  display: none;
}

html.collapsibleBox>body>div.ui-accordion>div.ui-accordion-content {
  border-width: 0px;
  overflow: visible;
}

.ui-tabs .ui-tabs-panel {
  border-width: 0;
  background-color: white;
  padding: 0.5em;
}

figcaption {
  font-weight: bold;
}

.note {
  font-weight: bold;
  font-style: italic;
}

div.pageNavigation {
  border-top: 1px solid black;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

div.pageNavigation>table {
  width: 100%;
}

div.pageNavigation td.previous {
  width: 45%;
}

div.pageNavigation td.home {
  text-align: center;
  width: 10%;
}

div.pageNavigation td.next {
  text-align: right;
  width: 45%;
}

pre.prettyprint {
  background-color: white;
}

div.tocMenu {
  overflow: auto;
}

div.tocMenu div.title {
  background: #3baae3
    url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/cupertino/images/ui-bg_glass_50_3baae3_1x400.png)
    50% 50% repeat-x;
  color: #ffffff;
  font-weight: bold;
  padding: 0.2em 0.4em 0.2em 0.4em;
}

div.tocMenu ol {
  margin: 0px;
  margin-bottom: 3px;
  padding: 3px 5px 3px 2em;
}

div.tocMenu ol ol {
  padding: 0px 0px 0px 1em;
}

div.tocMenu ol li {
  color: #000000;
}

li.closed {
  display: none;
}

div.tocMenu ol li a {
  color: #000000;
  text-decoration: none;
}

div.tocMenu ol li a:hover {
  text-decoration: underline;
}

div.sticky {
  position: fixed;
  top: 0px;
}

.ui-widget {
  font-size: 1em;
}

.nav-tabs {
  margin-bottom: 0;
}

.tab-content {
  border-left: 1px solid #ecf0f1;
  border-right: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
  padding: 10px;
}